:root {
  --ui-color-brand: #8942a3;
  --ui-color-n-000: #fff;
  --ui-color-n-025: #fafafa;
  --ui-color-n-050: #f5f5f5;
  --ui-color-n-300: #aeaeae;
  --ui-color-n-500: #353535;
  --ui-color-n-900: #1a1a1a;
  --ui-color-background-primary  : var(--ui-color-n-000);
  --ui-color-background-secondary: var(--ui-color-n-050);
  --ui-color-background-tertiary : var(--ui-color-n-025);
  --ui-color-typography-heading: var(--ui-color-n-500);
  --ui-color-typography-body   : var(--ui-color-n-900);
  --ui-color-typography-note   : var(--ui-color-n-300);
  --ui-color-typography-button : var(--ui-color-n-000);
  --ui-typography-typeface: "Inter", sans-serif;
  --ui-typography-h1: 1rem;
  --ui-typography-h2: 1.5625rem;
  --ui-typography-p : 1rem;
  --ui-typography-s : .8125rem;
  --ui-typography-h1-leading: 1;
  --ui-typography-h2-leading: 1.2;
  --ui-typography-p-leading : 1.5;
  --ui-typography-margin-heading: .75rem;
  --ui-typography-margin-body   : 1.125rem;
  --ui-layout-container: 1.25rem;
  --ui-layout-grid     : 3.625rem;
  --ui-layout-gutter   : 1rem;
  --ui-gap-cta        : .75rem;
  --ui-gap-hero       : 2rem;
  --ui-gap-customer   : 2rem;
  --ui-gap-feature    : 2rem;
  --ui-gap-testimonial: 2rem;
  --ui-radius-avatar: 5rem;
  --ui-radius-button: 5rem;
}


html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

body {
  background-color: var(--ui-color-background-primary);
  color: var(--ui-color-typography-body);
  font-family: var(--ui-typography-typeface);
  font-feature-settings: "liga", "kern";
  font-size: var(--ui-typography-p);
  font-weight: 400;
  line-height: var(--ui-typography-p-leading);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


a {
  color: var(--ui-color-brand);
  text-decoration: none;
}

h1,
h2,
p,
ul { margin-top: 0; }

h1,
h2 {
  color: var(--ui-color-typography-heading);
  margin-bottom: var(--ui-typography-margin-heading);
}

h1 {
  font-size: var(--ui-typography-h1);
  line-height: var(--ui-typography-h1-leading);
}

h2 {
  font-size: var(--ui-typography-h2);
  line-height: var(--ui-typography-h2-leading);
}

p,
ul { margin-bottom: var(--ui-typography-margin-body); }

p:last-child,
ul:last-child { margin-bottom: 0; }

ul { padding-left: 0; }

strong { font-weight: 700; }

small { font-size: var(--ui-typography-s); }

.ui-text-note {
  color: var(--ui-color-typography-note);
  line-height: 1;
}


img,
svg {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;

}

.ui-layout-container {
  padding-left: var(--ui-layout-container);
  padding-right: var(--ui-layout-container);
}

.ui-layout-flex,
.ui-layout-grid {
  align-items: center;
  justify-content: center;
}

.ui-layout-flex { display: flex; }

.ui-layout-grid { display: grid; }

.ui-component-cta {
  flex-direction: column;
  row-gap: var(--ui-gap-cta);
}


.ui-component-button {
  border: .0625rem solid var(--ui-color-brand);
  border-radius: var(--ui-radius-button);
  display: block;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.ui-component-button-primary {
  background-color: var(--ui-color-brand);
  color: var(--ui-color-typography-button);
}

.ui-component-button-normal {
  padding: .75rem 1rem .875rem;
  width: fit-content;
}

.ui-component-button-small {
  font-size: var(--ui-typography-s);
  padding: .5rem .75rem .5625rem;
}

.ui-component-list {
  grid-template-columns: 1fr;
  row-gap: .75rem;
}

.ui-component-list--item {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.125rem;
  list-style: none;
  padding-left: 1.875rem;
}

.ui-component-list--item-check {
  background-image: url(https://res.cloudinary.com/uisual/image/upload/assets/icons/check.svg);
}

.ui-section-header {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.ui-section-header__layout { justify-content: space-between; }

.ui-section-hero {
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.ui-section-hero--image { margin-top: var(--ui-gap-hero); }

.ui-section-customer__layout {
  flex-direction: column;
  row-gap: var(--ui-gap-customer);
}

.ui-section-customer--logo {
  height: 1.5rem;
  width: auto;
}


.ui-section-feature {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.ui-section-feature__layout { row-gap: var(--ui-gap-feature); }

.ui-section-feature__layout:nth-of-type(odd) div {
  grid-row-start: 1;
}

.ui-section-feature__layout:nth-of-type(even) {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.ui-section-testimonial {
  background-color: var(--ui-color-background-tertiary);
  padding-bottom: 4rem;
  padding-top: 5rem;
  text-align: center;
}

.ui-section-testimonial__layout {
  margin-top: var(--ui-gap-testimonial);
  row-gap: var(--ui-gap-testimonial);
}

.ui-section-testimonial--avatar {
  border-radius: var(--ui-radius-avatar);
  height: 5rem;
  width: 5rem;
}

.ui-section-testimonial--quote {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.ui-section-testimonial--author { line-height: 1.5; }

.ui-section-footer--nav {
  column-gap: var(--ui-layout-gutter);
}
@media screen and (min-width: 48rem) {

  :root {
    --ui-typography-h1: 2.1875rem;
    --ui-typography-h2: 1.75rem;
    --ui-typography-p : 1.125rem;
    --ui-typography-s : .875rem;
    --ui-typography-margin-body: 1.25rem;
    --ui-layout-container: 4.25rem;
    --ui-layout-gutter   : 1.5rem;
    --ui-gap-hero       : 3rem;
    --ui-gap-feature    : 3rem;
    --ui-gap-testimonial: 3rem;
  }


  .ui-layout-container,
  .ui-layout-column-center {
    margin-left: auto;
    margin-right: auto;
  }

  .ui-layout-grid-2,
  .ui-layout-grid-3 {
    column-gap: var(--ui-layout-gutter);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }



  .ui-layout-column-6 {
    width: calc((var(--ui-layout-grid) * 6) +
           (var(--ui-layout-gutter) * 5));
  }

  .ui-component-list--item {
    background-size: 1.25rem;
    padding-left: 2rem;
  }

  .ui-section-header {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .ui-section-customer__layout {
    column-gap: var(--ui-gap-customer);
    flex-direction: row;
  }
  
  .ui-section-customer--logo {
    margin-left: 0;
    margin-right: 0;
  }

  .ui-section-feature__layout:nth-of-type(odd) div {
    grid-row-start: initial;
  }

  
  .ui-section-footer__layout {
    flex-direction: row;
    justify-content: space-between;
    position: center;
  }

  .ui-section-footer--menu {
    left: 80%;
    position: absolute;
  }

}

@media screen and (min-width: 64rem) {

  :root {
    --ui-layout-container: 0;
  }

  a { transition: all 250ms ease; }

  a:not(.ui-component-button):hover {
    color: var(--ui-color-typography-body);
  }

  .ui-layout-container { width: 60rem; }

  .ui-layout-grid-3 { grid-template-columns: repeat(3, 1fr); }

}

@media screen and (min-width: 75rem) {

  :root {
    --ui-typography-h1: 14rem;
    --ui-typography-h2: 2.1875rem;
    --ui-typography-h4: 1.4375rem;
    --ui-typography-margin-heading: 1rem;
    --ui-typography-margin-body   : 1.75rem;
    --ui-layout-grid  : 4rem;
    --ui-layout-gutter: 4rem;
    --ui-gap-hero       : 1rem;
    --ui-gap-customer   : 4rem;
    --ui-gap-feature    : 1rem;
    --ui-gap-testimonial: 4rem; 
  }

  .ui-text-intro { font-size: var(--ui-typography-h4); }

  .ui-layout-container { width: 80rem; }

  .ui-component-button-normal {
    padding-bottom: 1.125rem;
    padding-top: 1rem;
  }

  .ui-component-button-small {
    padding-bottom: .7rem;
    padding-top: .7rem;
  }

  .ui-section-header {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .ui-section-hero {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .ui-section-feature {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }



  .ui-component-list-feature {
    column-gap: var(--ui-layout-gutter);
    grid-template-columns: repeat(2, 1fr);
  }

  .ui-section-testimonial {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  .ui-section-close { padding-top: 3rem; }
  
  .ui-section-footer {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

}